
body {
  font-family: 'Blinker', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}
.navbar {
  background-color: #000;
}
.navbar-brand img {
  height: 50px;
}
.hero {
  background-color: #000;
  color: white;
  padding: 100px 20px;
  text-align: center;
}
footer {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
}
